{% extends 'base.html.twig' %}

{% block title %}LISTAS TODO{% endblock %}

{% block body %}
            
    <form id="formulario_guardar_tarea" action="{{url('todo_save')}}" method="POST">
        {# ALMACENAMOS EL ID DEL USUARIO EN CAMPO OCULTO Y LO PASAMOS A CONTROLADOR#}
        {% if app.user is not null  %}
            <input type="hidden" name="usuario_id" value="{{app.user.id}}">
        {% endif %}
        
        {# Mostramos mensaje sesión de éxito o fracaso de la operación #}
        {% for mensaje in app.session.flashbag.get('error') %}
            <p id="mensaje-error">{{mensaje}}</p>
        {% endfor %}
        <!-- IR A PORTADA PRINCIPAL -->    
        <a href="{{url('todo_index')}}">PORTADA PRINCIPAL</a>
        
        <div id="bloquenombre">
             <label for="nombre">Nombre: </label>
             <input type="text" name="nombre" id="nombre">
        </div>
        
        <div id="bloquefechatope">
            <label for="fechatope">Fecha Tope:</label>
            <input type="date" name="fechatope" id="fechatope">
        </div>
        <div id="bloqueestado">
             <label for="estado">Estado: </label>
             <select name="estado" id="estado" >
                <option value="realizada">Realizada</option>
                <option value="pendiente" selected >Pendiente</option>
            </select>    
        </div>
        
        
        <input type="submit" value="Guardar" id="guardartarea">
        
    </form>    
{% endblock %}

